
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

{{#is_new}}
<form action='/DURC/post/' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/post/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>post</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/post/'>Return to post list</a> </li>
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='title' class='col-sm-2 col-form-label'>title</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='title' name='title' placeholder='' value='{{title}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='content' class='col-sm-2 col-form-label'>content</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='content' name='content' placeholder='' value='{{content}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='created_at' class='col-sm-2 col-form-label'>created_at</label>
    <div class='col-sm-10'>
	Current Value: {{created_at}}<br>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='updated_at' class='col-sm-2 col-form-label'>updated_at</label>
    <div class='col-sm-10'>
	Current Value: {{updated_at}}<br>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset></form>
</div></div>

<br>
<div class='card'>
  <div class='card-header'>
    Has Many Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    comment ( <a href='/DURC/comment/'>see all</a> )
{{^comment}}
(no values)
{{/comment}}
  </div>
<div class='card-body'>

<table id='table_comment' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> comment_text </th>
			<th> post_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#comment}}
	<tr>
		{{#.}}
			<td><a href='/DURC/comment/{{id}}'>{{id}}</a></td>
			<td>{{comment_text}}</td>
			<td>{{post_id_DURClabel}} ({{post_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/comment}}
</tbody>
</table>
</div></div> <!-- end comment card-->
<br>

<div class='card'>
  <div class='card-header'>
    vote ( <a href='/DURC/vote/'>see all</a> )
{{^vote}}
(no values)
{{/vote}}
  </div>
<div class='card-body'>

<table id='table_vote' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> post_id </th>
			<th> votenum </th>
			<th> updated_at </th>
			<th> created_at </th>

</tr>
</thead>
<tbody>
{{#vote}}
	<tr>
		{{#.}}
			<td><a href='/DURC/vote/{{id}}'>{{id}}</a></td>
			<td>{{post_id_DURClabel}} ({{post_id}}) </td>			<td>{{votenum}}</td>
			<td>{{updated_at}}</td>
			<td>{{created_at}}</td>
		
		{{/.}}
	</tr>
{{/vote}}
</tbody>
</table>
</div></div> <!-- end vote card-->
<br>
</div></div> <!--end has many card-->
<br>
<h5>Form Meta Data </h5>
<ul>
<li> DURC Generated At: Monday 1st of January 2018 04:58:04 PM </li>
</ul>
