
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

{{#is_new}}
<form action='/DURC/donation/' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/donation/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>donation</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/donation/'>Return to donation list</a> </li>
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='amount' class='col-sm-2 col-form-label'>amount</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='amount' name='amount' placeholder='' value='{{amount}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='nonprofitcorp_id' class='col-sm-2 col-form-label'>nonprofitcorp_id</label>
    <div class='col-sm-10'>
	Current id value: {{nonprofitcorp_id}} (see below for lookup value)<br>
	<select class='select2_nonprofitcorp_id form-control' id='nonprofitcorp_id' name='nonprofitcorp_id' form-control'>
	<option value='{{nonprofitcorp_id}}' selected='selected'>{{nonprofitcorp_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_nonprofitcorp_id').select2({
  ajax: {
    	url: '/DURCsearchjson/nonprofitcorp/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row'>
    <label for='created_at' class='col-sm-2 col-form-label'>created_at</label>
    <div class='col-sm-10'>
	Current Value: {{created_at}}<br>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='updated_at' class='col-sm-2 col-form-label'>updated_at</label>
    <div class='col-sm-10'>
	Current Value: {{updated_at}}<br>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='deleted_at' class='col-sm-2 col-form-label'>deleted_at</label>
    <div class='col-sm-10'>
	Current Value: {{deleted_at}}<br>
      <input type='text' class='form-control' id='deleted_at' name='deleted_at' placeholder='' value='{{deleted_at}}'>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset></form>
</div></div>

<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    nonprofitcorp ( <a href='/DURC/nonprofitcorp/'>see all</a> )
{{^nonprofitcorp}}
(no values)
{{/nonprofitcorp}}
  </div>
<div class='card-body'>
<table id='table_nonprofitcorp' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> EIN </th>
			<th> TAXPAYER_NAME </th>

</tr>
</thead>
<tbody>
{{#nonprofitcorp}}
	<tr>
		{{#.}}
			<td><a href='/DURC/nonprofitcorp/{{id}}'>{{id}}</a></td>
			<td>{{EIN}}</td>
			<td>{{TAXPAYER_NAME}}</td>
		
		{{/.}}
	</tr>
{{/nonprofitcorp}}
</tbody>
</table>
</div></div> <!-- end nonprofitcorp card-->
</div></div> <!--end belongs to card-->
<br>
<h5>Form Meta Data </h5>
<ul>
<li> DURC Generated At: Monday 1st of January 2018 04:58:04 PM </li>
</ul>
