
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}



{{#is_new}}
<form action='/DURC/nonprofitcorp' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/nonprofitcorp/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>nonprofitcorp</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/nonprofitcorp/'>Return to nonprofitcorp list</a> </li>
{{^is_new}}
<li> <a href='/DURC/nonprofitcorp/create'>Create new nonprofitcorp </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row {{EIN_row_class}}'>
    <label for='EIN' class='col-sm-2 col-form-label'>EIN</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='EIN' name='EIN' placeholder='' value='{{EIN}}'>
    </div>
  </div>

  <div class='form-group row {{TAXPAYER_NAME_row_class}}'>
    <label for='TAXPAYER_NAME' class='col-sm-2 col-form-label'>TAXPAYER_NAME</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='TAXPAYER_NAME' name='TAXPAYER_NAME' placeholder='' value='{{TAXPAYER_NAME}}'>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
  

</fieldset>
</div></div>
</form>

<br>
<div class='card'>
  <div class='card-header'>
    Has Many Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    donation ( <a href='/DURC/donation/'>see all</a> )
{{^donation}}
(no values)
{{/donation}}
  </div>
<div class='card-body'>

<table id='table_donation' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> amount </th>
			<th> nonprofitcorp_id </th>
			<th> created_at </th>
			<th> updated_at </th>
			<th> deleted_at </th>

</tr>
</thead>
<tbody>
{{#donation}}
	<tr>
		{{#.}}
			<td><a href='/DURC/donation/{{id}}'>{{id}}</a></td>
			<td>{{amount}}</td>
			<td>{{nonprofitcorp_id_DURClabel}} ({{nonprofitcorp_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
			<td>{{deleted_at}}</td>
		
		{{/.}}
	</tr>
{{/donation}}
</tbody>
</table>
</div></div> <!-- end donation card-->
<br>
</div></div> <!--end has many card-->
<br>
