
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

{{#is_new}}
<form action='/DURC/author' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/author/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>author</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/author/'>Return to author list</a> </li>
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='lastname' class='col-sm-2 col-form-label'>lastname</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='lastname' name='lastname' placeholder='' value='{{lastname}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='firstname' class='col-sm-2 col-form-label'>firstname</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='firstname' name='firstname' placeholder='' value='{{firstname}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='created_date' class='col-sm-2 col-form-label'>created_date</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='created_date' name='created_date' placeholder='' value='{{created_date}}'>

<button type='button' class='btn btn-primary' id='created_date_FontPicker'>
<img src='/images/DURC/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_date_TodayNow'> Today and Now</button>

<script>
	var created_dateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_date_TodayNow').click( function(e) {
      		$('#created_date').val(created_dateConv.format(new Date())).change(); } );

    	$('#created_date_FontPicker').click(
      		function(e) {
        		$('#created_date').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <label for='updated_date' class='col-sm-2 col-form-label'>updated_date</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='updated_date' name='updated_date' placeholder='' value='{{updated_date}}'>

<button type='button' class='btn btn-primary' id='updated_date_FontPicker'>
<img src='/images/DURC/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_date_TodayNow'> Today and Now</button>

<script>
	var updated_dateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_date_TodayNow').click( function(e) {
      		$('#updated_date').val(updated_dateConv.format(new Date())).change(); } );

    	$('#updated_date_FontPicker').click(
      		function(e) {
        		$('#updated_date').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>

<br>
<div class='card'>
  <div class='card-header'>
    Has Many Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    author_book ( <a href='/DURC/author_book/'>see all</a> )
{{^author_book}}
(no values)
{{/author_book}}
  </div>
<div class='card-body'>

<table id='table_author_book' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> author_id </th>
			<th> book_id </th>
			<th> authortype_id </th>

</tr>
</thead>
<tbody>
{{#author_book}}
	<tr>
		{{#.}}
			<td><a href='/DURC/author_book/{{id}}'>{{id}}</a></td>
			<td>{{author_id_DURClabel}} ({{author_id}}) </td>			<td>{{book_id_DURClabel}} ({{book_id}}) </td>			<td>{{authortype_id_DURClabel}} ({{authortype_id}}) </td>		
		{{/.}}
	</tr>
{{/author_book}}
</tbody>
</table>
</div></div> <!-- end author_book card-->
<br>
</div></div> <!--end has many card-->
<br>
