
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

{{#is_new}}
<form action='/DURC/employeeprivilege/' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/employeeprivilege/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>employeeprivilege</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/employeeprivilege/'>Return to employeeprivilege list</a> </li>
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row'>
    <label for='employee_id' class='col-sm-2 col-form-label'>employee_id</label>
    <div class='col-sm-10'>
	Current id value: {{employee_id}} (see below for lookup value)<br>
	<select class='select2_employee_id form-control' id='employee_id' name='employee_id' form-control'>
	<option value='{{employee_id}}' selected='selected'>{{employee_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_employee_id').select2({
  ajax: {
    	url: '/DURCsearchjson/employee/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row'>
    <label for='privilege_id' class='col-sm-2 col-form-label'>privilege_id</label>
    <div class='col-sm-10'>
	Current id value: {{privilege_id}} (see below for lookup value)<br>
	<select class='select2_privilege_id form-control' id='privilege_id' name='privilege_id' form-control'>
	<option value='{{privilege_id}}' selected='selected'>{{privilege_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_privilege_id').select2({
  ajax: {
    	url: '/DURCsearchjson/privilege/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset></form>
</div></div>

<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    employee ( <a href='/DURC/employee/'>see all</a> )
{{^employee}}
(no values)
{{/employee}}
  </div>
<div class='card-body'>
<table id='table_employee' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> company </th>
			<th> lastName </th>
			<th> firstName </th>
			<th> emailAddress </th>
			<th> jobTitle </th>
			<th> businessPhone </th>
			<th> homePhone </th>
			<th> mobilePhone </th>
			<th> faxNumber </th>
			<th> address </th>
			<th> city </th>
			<th> stateProvince </th>
			<th> zipPostalCode </th>
			<th> countryRegion </th>
			<th> webPage </th>
			<th> notes </th>
			<th> attachments </th>

</tr>
</thead>
<tbody>
{{#employee}}
	<tr>
		{{#.}}
			<td><a href='/DURC/employee/{{id}}'>{{id}}</a></td>
			<td>{{company}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
		
		{{/.}}
	</tr>
{{/employee}}
</tbody>
</table>
</div></div> <!-- end employee card-->

<div class='card'>
  <div class='card-header'>
    privilege ( <a href='/DURC/privilege/'>see all</a> )
{{^privilege}}
(no values)
{{/privilege}}
  </div>
<div class='card-body'>
<table id='table_privilege' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> privilegeName </th>

</tr>
</thead>
<tbody>
{{#privilege}}
	<tr>
		{{#.}}
			<td><a href='/DURC/privilege/{{id}}'>{{id}}</a></td>
			<td>{{privilegeName}}</td>
		
		{{/.}}
	</tr>
{{/privilege}}
</tbody>
</table>
</div></div> <!-- end privilege card-->
</div></div> <!--end belongs to card-->
<br>
<h5>Form Meta Data </h5>
<ul>
<li> DURC Generated At: Monday 1st of January 2018 04:58:04 PM </li>
</ul>
