
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

{{#is_new}}
<form action='/DURC/privilege' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/privilege/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>privilege</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/privilege/'>Return to privilege list</a> </li>
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='privilegeName' class='col-sm-2 col-form-label'>privilegeName</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='privilegeName' name='privilegeName' placeholder='' value='{{privilegeName}}'>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>

<br>
<div class='card'>
  <div class='card-header'>
    Has Many Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    employeeprivilege ( <a href='/DURC/employeeprivilege/'>see all</a> )
{{^employeeprivilege}}
(no values)
{{/employeeprivilege}}
  </div>
<div class='card-body'>

<table id='table_employeeprivilege' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> employee_id </th>
			<th> privilege_id </th>

</tr>
</thead>
<tbody>
{{#employeeprivilege}}
	<tr>
		{{#.}}
			<td>{{employee_id_DURClabel}} ({{employee_id}}) </td>			<td>{{privilege_id_DURClabel}} ({{privilege_id}}) </td>		
		{{/.}}
	</tr>
{{/employeeprivilege}}
</tbody>
</table>
</div></div> <!-- end employeeprivilege card-->
<br>
</div></div> <!--end has many card-->
<br>
