
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

{{#is_new}}
<form action='/DURC/test_created_only' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/test_created_only/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>test_created_only</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/test_created_only/'>Return to test_created_only list</a> </li>
{{^is_new}}
<li> <a href='/DURC/test_created_only/create'>Create new test_created_only </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row {{name_row_class}}'>
    <label for='name' class='col-sm-2 col-form-label'>name</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='name' name='name' placeholder='' value='{{name}}'>
    </div>
  </div>

  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-2 col-form-label'>created_at</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'>

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/images/DURC/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>

<br>
