
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

{{#is_new}}
<form action='/DURC/author_book/' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/author_book/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>author_book</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/author_book/'>Return to author_book list</a> </li>
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row'>
    <label for='author_id' class='col-sm-2 col-form-label'>author_id</label>
    <div class='col-sm-10'>
	Current id value: {{author_id}} (see below for lookup value)<br>
	<select class='select2_author_id form-control' id='author_id' name='author_id' form-control'>
	<option value='{{author_id}}' selected='selected'>{{author_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_author_id').select2({
  ajax: {
    	url: '/DURCsearchjson/author/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row'>
    <label for='book_id' class='col-sm-2 col-form-label'>book_id</label>
    <div class='col-sm-10'>
	Current id value: {{book_id}} (see below for lookup value)<br>
	<select class='select2_book_id form-control' id='book_id' name='book_id' form-control'>
	<option value='{{book_id}}' selected='selected'>{{book_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_book_id').select2({
  ajax: {
    	url: '/DURCsearchjson/book/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row'>
    <label for='authortype_id' class='col-sm-2 col-form-label'>authortype_id</label>
    <div class='col-sm-10'>
	Current id value: {{authortype_id}} (see below for lookup value)<br>
	<select class='select2_authortype_id form-control' id='authortype_id' name='authortype_id' form-control'>
	<option value='{{authortype_id}}' selected='selected'>{{authortype_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_authortype_id').select2({
  ajax: {
    	url: '/DURCsearchjson/authortype/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset></form>
</div></div>

<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    author ( <a href='/DURC/author/'>see all</a> )
{{^author}}
(no values)
{{/author}}
  </div>
<div class='card-body'>
<table id='table_author' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> lastname </th>
			<th> firstname </th>
			<th> select_name </th>
			<th> created_date </th>
			<th> updated_date </th>

</tr>
</thead>
<tbody>
{{#author}}
	<tr>
		{{#.}}
			<td><a href='/DURC/author/{{id}}'>{{id}}</a></td>
			<td>{{lastname}}</td>
			<td>{{firstname}}</td>
			<td>{{select_name}}</td>
			<td>{{created_date}}</td>
			<td>{{updated_date}}</td>
		
		{{/.}}
	</tr>
{{/author}}
</tbody>
</table>
</div></div> <!-- end author card-->

<div class='card'>
  <div class='card-header'>
    book ( <a href='/DURC/book/'>see all</a> )
{{^book}}
(no values)
{{/book}}
  </div>
<div class='card-body'>
<table id='table_book' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> title </th>
			<th> release_date </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#book}}
	<tr>
		{{#.}}
			<td><a href='/DURC/book/{{id}}'>{{id}}</a></td>
			<td>{{title}}</td>
			<td>{{release_date}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/book}}
</tbody>
</table>
</div></div> <!-- end book card-->

<div class='card'>
  <div class='card-header'>
    authortype ( <a href='/DURC/authortype/'>see all</a> )
{{^authortype}}
(no values)
{{/authortype}}
  </div>
<div class='card-body'>
<table id='table_authortype' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> authortypedesc </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#authortype}}
	<tr>
		{{#.}}
			<td><a href='/DURC/authortype/{{id}}'>{{id}}</a></td>
			<td>{{authortypedesc}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/authortype}}
</tbody>
</table>
</div></div> <!-- end authortype card-->
</div></div> <!--end belongs to card-->
<br>
<h5>Form Meta Data </h5>
<ul>
<li> DURC Generated At: Monday 1st of January 2018 04:58:04 PM </li>
</ul>
